<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1></h1>
<p>
  Your reset password code is: <%= @user.password_token %> <br>
</p>
<p>
  To reset your password enter your the code from above here: .
</p>
</body>
</html>
