.rating
  //unicode-bidi: bidi-override
  //direction: rtl
  height: 50px
  display: inline-flex

.star
  display: inline-block
  position: relative
  &:hover:before,
  &:hover~&:before
    content: "\2605"
    position: absolute

.center
  display: flex
  justify-content: center

.pitch-form
  border: solid
  border-radius: 8px
  margin: 5px
  width: fit-content
  height: fit-content
  padding: 8px

.emoji-rating
  font-size: 25px
  margin-top: 10px
  filter: grayscale(100%)
  &:hover,
  &.selected
    font-size: 40px
    margin-top: 0
    filter: grayscale(0%)

img
  max-width: 250px
  max-height: 100%


